.agreement
  padding: 130px 0 60px

  &__page
    background: #F2F2F2

  &__title
    text: $text-dark 600 24px
    font-family: $font-title

  &__desc
    text: 16px
    margin-top: 20px

  &__sub-title
    text: $text-dark 600 18px
    font-family: $font-title
    margin: 28px 0 20px

  &__text
    text: 14px 1.57

    & + &
      margin-top: 20px

    &-mark
      display: inline
      text: #15C46B
