-
  var meta = {
    title: 'RW Service',
    url: 'https://site.ru',
    image: '/assets/images/cover.jpg',
    description: 'Качественный и недорогой ремонт iPhone без визита в мастерскую.',
  }

  var nav = [
    {
      name: 'Преимущества',
      id: 'props',
      active: 'header__nav-link--active'
    },
    {
      name: 'Как это работает',
      id: 'works'
    },
    {
      name: 'Услуги',
      id: 'services'
    },
    {
      name: 'Отзывы',
      id: 'reviews'
    },
    {
      name: 'FAQ',
      id: 'faq'
    }
  ]

  var servicesTabs = [
    'iPhone 4 / 4s', 'iPhone 5 / 5S / SE', 'iPhone 6 / 6+', 'iPhone 7 / 7+', 'iPhone 8 / 8+', 'iPhone X'
  ]