footer.footer
  .footer__container.container
    .footer__logos
      .footer__logos-fedex
      .footer__logos-dhl

    .footer__copy
      .footer__copy-text 2018-2019 © Remote Wizard Service. All rights reserved
      a.footer__copy-link(href="/agreement.html") Политика конфиденциальности

    .footer__social
      .social
        a.social__item.social__item--twitter(href="#!")
        a.social__item.social__item--facebook(href="#!")
        a.social__item.social__item--instagram(href="#!")